@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
.GetStarted {
  background-image: url("./images/Rectangle 1 (2).jpeg");
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  /* text-align: center; */
  height: 100vh;
}
.register{
  background-image: url("./images/Rectangle 1 (1).jpg");
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  background-repeat: no-repeat;
  background-size: cover;
  /* text-align: center; */
  height: 100vh;
}
.login{
  background-image: url("./images/Rectangle 1 (4).jpg");
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  /* text-align: center; */
  height: 100vh;
}
.forgetpassword{
  background-image: url("./images/Rectangle 17.jpg");
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  /* text-align: center; */
  height: 100vh;
}
.card {
  display: flex;
/* flex-direction: row; */
justify-content: center;
align-items: center;
  width: 480px;
  height: fit-content !important;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  left: 350px;
  top: 80px;
  line-height: 30px;
  border-radius: 37.9507px !important;
  text-align: center;
}
.Registercard {
  display: flex;
/* flex-direction: row; */
justify-content: center;
align-items: center;
  width: 480px;
  height: fit-content !important;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  left: 350px;
  top: 50px;
  line-height: 30px;
  border-radius: 37.9507px !important;
  text-align: center;
}
.card-body{
  /* margin-top: 20px;
  max-width: 420px; */
  margin: 31px;
}
.card-title {
  font-weight: 600;
  font-size: 30px;
}
.card-title-small {
  font-weight: 600;
  font-size: 30px;
}
.card-text {
  font-weight: 400;
  font-size: 14px !important;
  margin-bottom: 0%;
}
.card button{
/* padding: 17.413px 46.4347px; */
gap: 11.61px;
width: 80%;
height: 51.97px;
border-radius: 11.6087px;
margin-top: 10px;
border: 0;
text-align: center;
}
.card .buttonFull{
  gap: 11.61px;
width: 80%;
height: 51.97px;
border-radius: 11.6087px;
margin-top: 10px;
border: 0;
text-align: center;
  }
.loginWithEmail{
  background: #471CF1;
  color: white;
}
.loginWithMoile{
  background: #d1d1d1;
}
.card p{
  margin-top: 1%;
  font-size: 16px;
  color: #666666;
}
.card input{
  width: 85%;
height: 40.74px;
background: #ECECFF;
border: 1.05716px solid #2622FF;
border-radius: 10.5716px;
margin-top: 2%;
padding: 10px;
font-size: 14px;
}
.card a{
  text-decoration: none;
}
.left{
  max-width: 400px;
  margin-top: 380px;
  margin-left: 4%;
}
.pgNo{
  width: 35px;
height: 54px;
left: 72.62px;
top: 792.17px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 36.2257px;
line-height: 54px;

color: rgba(255, 255, 255, 0.6);

}
.leftHeading{
  width: 391px;
height: 72px;
left: 72.62px;
top: 846.17px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 38px;
line-height: 62px;
/* identical to box height */


color: #FFFFFF;
}
.left-text{
  color: rgba(206, 200, 200, 0.6);
}
.dots{
  margin-top: 10px;
  display: flex;
}
.dot-white{
  width: 60px;
height: 10px;
left: 72.62px;
top: 978.52px;

background: #FFFFFF;
border-radius: 100px;

}
.dot-gray{
  width: 31.1px;
height: 10px;
left: 135.98px;
top: 978.52px;

background: rgba(255, 255, 255, 0.2);
border-radius: 100px;
}