@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
.display-flex {
  display: flex;
}
button{
  border: 0;
}
.landing-img-1{
  background-image: url("./images/Landing1.png");
  height: 100vh;
  width: 700px;
  background-size: cover;
}
.landing-img-2{
  background-image: url("./images/Landing2.png");
  height: 100vh;
  width: 700px;
  background-size: cover;
}
.GetStarted {
  background-image: url("./images/Rectangle 1 (2).jpeg");
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  /* text-align: center; */
  height: 100vh;
}
.register {
  background-image: url("./images/Rectangle 1 (1).jpg");
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  background-repeat: no-repeat;
  background-size: cover;
  /* text-align: center; */
  height: 100vh;
}
.login {
  background-image: url("./images/Rectangle 1 (4).jpg");
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  /* text-align: center; */
  height: 100vh;
}
.forgetpassword {
  background-image: url("./images/Rectangle 17.jpg");
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  /* text-align: center; */
  height: 100vh;
}
.card {
  display: flex;
  /* flex-direction: row; */
  justify-content: center;
  align-items: center;
  width: 480px;
  height: fit-content !important;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  left: 350px;
  top: 80px;
  line-height: 30px;
  border-radius: 37.9507px !important;
  text-align: center;
}
.Registercard {
  display: flex;
  /* flex-direction: row; */
  justify-content: center;
  align-items: center;
  width: 480px;
  height: fit-content !important;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  left: 350px;
  top: 50px;
  line-height: 30px;
  border-radius: 37.9507px !important;
  text-align: center;
}
.card-body {
  /* margin-top: 20px;
  max-width: 420px; */
  margin: 31px;
}
.card-title {
  font-weight: 600;
  font-size: 30px;
}
.card-title-small {
  font-weight: 600;
  font-size: 30px;
}
.card-text {
  font-weight: 400;
  font-size: 14px !important;
  margin-bottom: 0%;
}
.card button {
  /* padding: 17.413px 46.4347px; */
  gap: 11.61px;
  width: 80%;
  height: 51.97px;
  border-radius: 11.6087px;
  margin-top: 10px;
  border: 0;
  text-align: center;
}
.card .buttonFull {
  gap: 11.61px;
  width: 80%;
  height: 51.97px;
  border-radius: 11.6087px;
  margin-top: 10px;
  border: 0;
  text-align: center;
}
.loginWithEmail {
  background: #471cf1;
  color: white;
}
.loginWithMoile {
  background: #d1d1d1;
}
.card p {
  margin-top: 1%;
  font-size: 16px;
  color: #666666;
}
.card input {
  width: 85%;
  height: 40.74px;
  background: #ececff;
  border: 1.05716px solid #2622ff;
  border-radius: 10.5716px;
  margin-top: 2%;
  padding: 10px;
  font-size: 14px;
}
.card a {
  text-decoration: none;
}
.left {
  max-width: 400px;
  margin-top: 380px;
  margin-left: 4%;
}
.pgNo {
  width: 35px;
  height: 54px;
  left: 72.62px;
  top: 792.17px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 36.2257px;
  line-height: 54px;

  color: rgba(255, 255, 255, 0.6);
}
.leftHeading {
  width: 391px;
  height: 72px;
  left: 72.62px;
  top: 846.17px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 62px;
  /* identical to box height */

  color: #ffffff;
}
.left-text {
  color: rgba(206, 200, 200, 0.6);
}
.dots {
  margin-top: 10px;
  display: flex;
}
.dot-white {
  width: 60px;
  height: 10px;
  left: 72.62px;
  top: 978.52px;

  background: #ffffff;
  border-radius: 100px;
}
.dot-purple {
  width: 60px;
  height: 10px;
  left: 72.62px;
  top: 978.52px;

  background: #471CF1;
  border-radius: 100px;
}
.dot-gray {
  width: 31.1px;
  height: 10px;
  left: 135.98px;
  top: 978.52px;

  background: rgba(255, 255, 255, 0.2);
  border-radius: 100px;
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 58px 0 0; /* Height of navbar */
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
  width: 7%;
  z-index: 600;
  background-color: black;
  /* margin-right: 10000px; */
}
.sidebar a {
  background-color: black;
  color: gray;
  margin-top: 60%;
}
.sidebar a img {
  height: 25px;
}
.sidebar .active {
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}
.BasicStyle {
  color: whitesmoke;
  background: linear-gradient(110.09deg, #313131 8.61%, #000000 98.6%);
  margin-left: 7%;
  padding-left: 2%;
  padding-top: 6%;
}
.black-bg{
  background: black !important;
}
.home-left img {
  width: 500px;
  height: 320px;
  left: 170px;
  top: 208.54px;
  border-radius: 25px;
  padding-bottom: 2%;
}
.home-right {
  margin-left: 2%;
}
.home-right-top {
  width: 600px;
  height: 195px;
  left: 970px;
  top: 126.08px;
  padding-top: 3%;
  padding-top: 3%;
  padding-left: 5%;
  background: rgba(62, 62, 62, 0.4);
  border-radius: 15.9173px;
}
.home-right-top p {
  color: #999999;
  font-size: 15px;
}
.home-right-top input {
  width: 510.92px;
  height: 50.61px;
  background: rgba(115, 115, 115, 0.25);
  border-radius: 6.70096px;
  border: 0;
}
.home-right-top button {
  margin: 2%;
  color: #525050;
  border: 1px solid #525050;
  width: 100.51px;
  height: 35px;
  /* background: #471CF1; */
  border-radius: 67.0096px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}
.upload-content {
  background: #471cf1 !important;
  color: white !important;
  width: 125.51px !important;
}
.home-right-mid-blocks {
  background: #1f1f1f;
  max-width: 48%;
  padding-top: 4%;
  padding-left: 2%;
  padding-right: 5%;
  margin-left: 1%;
}
.home-right-mid-blocks p {
  color: #999999;
  font-size: 12px;
}
.home-right-mid-blocks span {
  color: #999999;
  font-size: 12px;
  padding-bottom: 4%;
  padding-top: 4%;
}
.home-right-bottom {
  max-height: 350px;
  overflow-y: scroll;
}
.home-right-bottom::-webkit-scrollbar{
  border: 0;
  background: transparent;
}
.home-right-bottom h5 {
  position: sticky;
  top: 10px;
}
.home-right-bottom img {
  height: 165px;
  margin: 1%;
}
.popup{
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  backdrop-filter: blur(10px);
  margin-top: -85%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1350px;
  height: 100vh;
}
.popup-box{
  width: 700px;
height: 400px;
  color: white;
display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.popup-box-green{
  width: 700px;
height: 400px;
background: #1F4926;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.close-popup{
  position: absolute;
  top: 0;
  right:0;
}
.ring{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: none;
  animation: ring 1s linear infinite;
}
@keyframes ring{
  0%{
    transform: rotate(0deg);
    box-shadow: 1px 1px 1px #ffffff;
  }
  50%{
    transform: rotate(180deg);
    box-shadow: 1px 1px 1px #ffffff;
  }
  100%{
    transform: rotate(360deg);
    box-shadow: 1px 1px 1px #ffffff;
  }
}
.search{
  width: 600px;
height: 68px;
padding:4%;
border: 0;
background: rgba(84, 84, 84, 0.63);
border-radius: 100px;
}
.instructorHead {
  background-image: url("./images/Rectangle 80 (2).png");
  height: 55vh;
  margin-top: -7%;
  margin-left: -4%;
  padding-left: 5%;
  padding-top: 1%;
  justify-content: space-between;
}
.instructorHead button {
  width: 117px;
  height: 35px;
  left: 1078.3px;
  top: 292px;
  margin-top: 40vh;
  margin-right: 5%;
  background: #471cf1;
  border-radius: 10px;
}
.coursePurache {
  background-image: url("./images/Rectangle 80 (3).png");
  height: 55vh;
  margin-top: -7%;
  margin-left: -4%;
  padding-left: 5%;
  padding-top: 1%;
  justify-content: space-between;
}
.coursePurache button {
  background: #2f2f2f;
  border-radius: 8px;
  margin-left: 1%;
  color: white;
  width: 150px;
}
.coursePurache .paid {
  background: #471cf1;
  border-radius: 10px;
  color: white;
}
.account {
  background-image: url("./images/Rectangle 110.png");
  height: 45vh;
  /* width: 100%; */
  margin-top: -7%;
  margin-left: -4%;
  padding-left: 5%;
  background-size: auto;
}
.accountBtn {
  width: fit-content;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  padding: 1%;
  background: transparent;
  color: #666666;
  border: 1px solid #666666;
  margin: 1%;
}
.TopPlayer {
  color: white;
  width: 130px;
  height: 24px;
  border: 0;
  background: #471cf1;
  border-radius: 100px;
  margin-right: 1%;
}
.primary-color{
  color: #471CF1;;
}
.primary-bg{
  background: #471CF1;
  color: white;
}
.abt-heading{
  margin-top: -5%;
}
.about img{
  margin-left: 1%;
  /* margin-top: -5%; */
  width: 95%;
}
.about p{
  margin-top: 1%;
}
.about hr{
  max-width: 80px;
  margin-top: -0.1%;
}
.album-page{
  height: 100vh;
}
.album-search{
  height: 20px !important;
  width: 20px !important;
  margin-right: 10%;
}
.album-search:hover{
  height: 25px !important;
  width: 25px !important;
  margin-right: 10%;
  cursor: pointer;
}
.socialImages img{
  height: 20px;
  width: 20px;
  margin-left: 2%;
}
.supportColumns{
  background: #232323;
  padding-left: 3%;
  padding-right: 6%;
  padding-top: 1%;
  padding-bottom: 1px;
}
.supportColumns a{
  color: #8769FF !important;
}
.support input{
  background: #202020;
  width: 370px;
height: 62px;
left: 843.11px;
top: 285.24px;
margin-bottom: 2%;
margin-top: 2%;
border: 1px solid #A6A6A6;
border-radius: 100px;
padding: 4%;
}
.support textarea{
  margin-top: 2%;
  background: #202020;
  border: 1px solid #A6A6A6;
  width: 370px;
border-radius: 20px;
padding: 4%;
}
.raiseTicketBtn{
  display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 15px 60px;
gap: 10px;
border: 0;
width: 598px;
height: 76px;
left: 192px;
top: 731px;
color: white;
background: #471CF1;
}
.supportSubmitBtn{
color: white;
padding: 15px 60px;
gap: 10px;
width: 170px;
height: 51px;
background: #471CF1;
border-radius: 10px;
border: 0;
}
.history{
  max-height: 400px;
  overflow-y: scroll;
}
.album {
  max-height: 400px;
  overflow-y: scroll;
  margin-bottom: 5%;
}
.album::-webkit-scrollbar {
  border: 0;
  background-color: transparent;
}
.album h5 {
  position: sticky;
  top: 10px;
}
.album img {
  height: 105px;
  margin: 1%;
}
.album-bottom{
  justify-content: space-between;
  align-items: center;
  width: 477.37px;
height: 50px;
background: #471CF1;
border-radius: 100px;
}
.album-bottom img{
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.album-bottom p{
  font-size: 10px;
}
.album-bottom h6{
  margin-top: 1%;
}




/* Profession Css Get Started from here */

.Professional-GetStarted{
  background-image: url("./images/ProffesionalGetstartedBg.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  height: 100vh;
}
.Professional-GetStarted .header{
  height: 50px;
  display: flex;
  justify-content: space-between !important;
  width: 90%;
  margin-left: 5%;
  padding-top: 4%;
}
.Professional-GetStarted .header .display-flex div{
margin-left: 5%;
}
.Professional-GetStarted .header .display-flex img{
  height: 50px;
}
.Professional-GetStarted p{
  font-size: 11px;
  margin-top: -5%;
}
.Professional-GetStarted .display-flex{
  /* background-color: wheat; */
  width: 250px;
}
.Professional-GetStarted h5{
  margin-top: 10%;
}
.Professional-GetStarted h1{
  margin-top: 15%;
  max-width: 650px;
  margin-left: 10%;
  font-size: 60px;
}
.professional-login{
  background-image: url("./images/ProffesionalSignin.png");
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  /* text-align: center; */
  height: 100vh;
}
.professional-card{
  background: #2C2C2C !important;
}
.professional-card-title{
  color: white !important;
}
.inpt{
  background: #252525 !important;
}
.balance{
  width: 780px;
height: 306.79px;
left: 170px;
top: 233.21px;
padding: 4%;
background: #252525;
border-radius: 40px;
}
.acc{
  margin-left: 1%;
  background-image: url("./images/Rectangle 129.png");
  width: 780px;
height: 306.79px;
border-radius: 40px;
padding: 4%;
}
.tansaction{
  width: 99%;
height: 61px;
left: 169px;
top: 581px;
padding: 1.5%;
background: #282828;
}
.payouts{
  max-height: 120px;
  overflow-y: scroll;
}
.payout{
  width: 500px;
  justify-content: space-between;
}
.payoutImg{
  background-color: #2622ff;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.payout p{
  margin-top: 2%;
}
.Modal input{
  width: 420px;
  height: 50px;
left: 675.3px;
border: 0.862516px solid #252525;
border-radius: 8.62516px;
padding: 5%;
margin-top: 1%;
}
.Modal textarea{
  width: 420px;
left: 675.3px;
border: 0.862516px solid #252525;
border-radius: 8.62516px;
padding: 5%;
margin-top: 1%;
}
.blur{
  filter: blur(8px);
  -webkit-filter: blur(8px);
}
.BasicStyle-professional{
  color: whitesmoke;
  background: linear-gradient(110.09deg, #000000 8.61%, #000000 98.6%);
  /* margin-left: 7%; */
  padding-left: 2%;
  padding-top: 6%;
}
.threeDotBox{
  padding: 60px 300px 60px 30px;
gap: 10px;
width: 50px;
height: 5px;
left: 266px;
top: 254.58px;

background: #282828;
border-bottom: 1px solid #2E2E2E;
border-radius: 10px;
}
.threeDotsComponent{
  margin-left: -15%;
}
.threeDotsComponent div{
  margin-top: 1%;
}
.threeDotsComponent div div{
  margin-left: 1%;
}
.professional-header{
  position: sticky;
  top: 0;
}
.professional-header img{
  height: 50px;
}
.professional-header .display-flex div{
  width: 200px !important;
}
.professional-header p{
  margin-top: -5%;
  font-size: 12px;
  margin-left: 7%;
}
.professional-header h5{
  margin-top: 2%;
  margin-left: 7%;
}
.three-dot-img{
  height: 30px !important;
}


.landing img{
  height: 100vh;
  width: 700px;
}
.landing-content{
  color: white;
  max-width: 400px;
  margin-top: 50%;
  margin-left: 7%;
}
.landing-content div{
  display: flex;
justify-content: center;
align-items: center;
padding: 10px;
gap: 20px;
width: 141px;
height: 41px;
left: 107px;
top: 477px;

background: #2E2E2E;

}
.landing-btn{
  display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 20px;
gap: 20px;
width: 183px;
height: 64px;
left: 107px;
top: 652px;

background: #471CF1;
border-radius: 10px;

}
.landing-btn:hover{
background: #3612c9;
cursor:pointer;
}
.close-popup{
color:red !important;
background:rgb(36, 17, 17) !important;
height: 50px;
width: 50px;
border-radius: 100%;
}